<div class="title-strip">

</div>

<div class="container-fluid" style="width:90%; margin-left:auto; margin-right:auto;">
	<div class="about-title">Bibliography</div>  
		<div class="col-md-12">

		<blockquote style="font-size: 14px;">Donovan, J. (2014). How to deliver a TED talk: Secrets of the world's most inspiring presentations (2nd ed.). New York: McGraw-Hill 
			Education.
		</blockquote>
		<blockquote style="font-size: 14px;">Donovan, J. (2014). How to deliver a TED talk: Secrets of the world's most inspiring presentations (2nd ed.). New York: McGraw-Hill Education.
		</blockquote>
		<blockquote style="font-size: 14px;">Donovan, J. (2014). How to deliver a TED talk: Secrets of the world's most inspiring presentations (2nd ed.). New York: McGraw-Hill Education.
		</blockquote>
		<blockquote style="font-size: 14px;">Donovan, J. (2014). How to deliver a TED talk: Secrets of the world's most inspiring presentations (2nd ed.). New York: McGraw-Hill Education.
		</blockquote>
		<blockquote style="font-size: 14px;">Donovan, J. (2014). How to deliver a TED talk: Secrets of the world's most inspiring presentations (2nd ed.). New York: McGraw-Hill Education.
		</blockquote>

		</div>
</div>