<div class="title-strip">

</div>
<div class="container">
<div class="about-title">Links</div>  
	<blockquote>
		<p><a href="http://www.montgomeryviolins.com/home" target="_blank">Montgomery Violins</a></p>
	</blockquote>
	<blockquote>
		<p><a href="http://christianbayon.com/" target="_blank">Christian Bayon, Luthier</a></p>
	</blockquote>
	<blockquote>
		<p><a href="http://peteropie.com/" target="_blank">Peter Opie, cellist</a></p>
	</blockquote>
  	<blockquote>
		<p><a href="http://chamberstrings.org/" target="_blank">Chamber Strings Music Workshop</a></p>
	</blockquote>	
	<blockquote>
		<p><a href="http://gabrieldelgado.es/" target="_blank">Gabriel Delgado Moran, conductor</a></p>
	</blockquote>
	<blockquote>
		<p><a href="http://fernandolopezpascual.artelista.com/en/" target="_blank">Fernando Lopez Pascual, painter</a></p>
	</blockquote>
	<blockquote>
		<p><a href="http://www.malagadecamara.com/" target="_blank">Malaga de Camara</a></p>
	</blockquote>
</div>

